@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* main */

main{
    display: flex;
    margin-top: 50px;
    /* background-image: url(../images/bg2.jpg); */
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    transition: filter 0.2s ease-in-out;
    
}
.main.blur{
    filter: blur(5px);
}
/* ------------------------------------------------------- */
/* aside */
/* ----------------------------------------------------------------------------------- */
/*  main top*/
#main-mid{
    margin-left: 27%;
    margin-top: 10px;
    width: 72%;
}

.main-top{
    width: 100%;
    height: 70vh;
    
}
.main-top .slide{
    width: 100%;
    height: 100%;
    display: none;
}
.main-top .slide:first-child{
    display: block;
}
.main-top .slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    
}
.main-top .slide .image-details{
    width: 28%;
    position: relative;
    bottom: 90%;
    color: white;
    left: 30px;
    display: flex;
    flex-direction: column;
}
.image-details h2{
    margin: 20px 10px;
    font-size: 2rem;
}
.image-details p{
    margin: 20px 10px;
    font-size: 16px;
}
.image-details h3{
    margin-top: 35%;
    margin-left: 10%;
    border-radius: 5px;
    font-size: 26px;
    border: 2px solid black;
    width: 70%;
    padding: 6px 8px;

}
.image-details h3 a{
    color: white;
    text-decoration: none;
    text-align: center;
}
.image-details h3 i{
    margin-right: 10px;
    padding: 4px 2px;
}
.image-details h3:hover{
    background-color: rgba(12, 12, 12, 0.884);
    cursor: pointer;
}
.perv-next{
    color: white;
    position: relative;
    left: 90%;
    bottom: 10%;
    
}
.perv-next i{
    font-size: 35px;
    padding: 4px 6px;
    cursor: pointer;
}

/* ----------------------------------------------- */
/* main half */
.main-half{
    margin: 12px 16px;
    display: flex;
    width: 100%;
    flex-direction: column;
    height: 59vh;

}
.heading{
    color: white;
    font-size: 28px;
    padding: 10px 8px;
}
.main-half-container{
    margin: 12px 10px;
    display: flex;
    flex-direction: row;
}
.img-container{
    width: 18%;
}
.img-container:not(:first-child){
    margin-left: 22px;
}
.img-container .img-release{
    border-radius: 10px;
    max-width: 100%;
    height: auto;
    overflow: hidden;
}
.img-container img{
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    transition: 0.4s ease-in-out;
    aspect-ratio: 3/2.5;
    object-fit: cover;
}
#play-hovered{
    position: relative;
    left: 75px;
    bottom: 100px;
}
#play-hovered i{
    font-size: 38px;
    color: rgb(255, 255, 255);
    opacity: 0;
    transition: 0.2s ease-in-out;
}
.hovered-details{
    color: white;
    position: relative;
    bottom: 75px;
    display: flex;
    flex-direction: row;
    opacity: 0;
    transition: 0.2s ease-in-out;
}
.hovered-details h4{
  
    font-size: 14px;
    margin-left: 16px;
}
.hovered-details h4 i{
    margin-right: 3px;
}
.img-container:hover img{
    filter: brightness(0.6) grayscale(0.9) blur(1px);
    transform: scale(1.1);
}
.img-container:hover #play-hovered i{
    opacity: 1;
}
.img-container:hover .hovered-details{
   opacity: 1;
}
#play-hovered i:hover{
    color: rgb(35, 113, 133);
}
.song-details{
    margin-top: -45px;
    color: white;
    margin-left: 3px;
    font-size: 14px;
}
.song-details h3{
    padding: 4px;
    transition: 0.2s ease-in-out;
}
.song-details h4{
    padding: 4px;
    font-weight: 500;
    transition: 0.2s ease-in-out;
}
.song-details h3:hover, .song-details h4:hover{
    color: rgb(35, 113, 133);
    cursor: pointer;
}

/* ---------------------------------------------------------------- */
/* artists */
.main-quarter{
    margin-top: 100px;
}
.artists-heading{
    display: flex;
}
.artists-heading .see-all{
    position: absolute;
    right: 25px;
    padding:18px 2px 2px 2px;
    font-size: 16px;
}
.artists-heading a{
    color: white;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}
.artists-heading a i{
    margin-left: 10px;
    font-size: 14px;
    
}
.artists-heading a:hover{
    color: rgb(35, 113, 133);
}
.artists{
    margin: 12px 15px 6px 30px;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
}
.artists-box{
    width: 20%;
    flex-shrink: 0;
    border-radius: 15px;
}
.artists-box .singer-img{
    max-width: 100%;
    border-radius: 15px;
    overflow: hidden;
    height: auto;
}
.artists-box:not(:first-child){
    margin-left: 20px;
}
.artists-box img{
    width: 100%;
    height: 180px;
    aspect-ratio: 3/2.5;
    object-fit: cover;
    border-radius: 15px;
    transition: 0.3s ease-in-out;
}
.artists-box h3{
    text-align: center;
    color: white;
    padding: 6px 2px;
    transition: 0.3s ease-in-out;
}
.artists-box:hover img{
    transform: scale(1.1);
    filter: sepia(0.5) saturate(0.6);
    
}

.artists-box:hover h3{
    color: rgb(35, 113, 133);
}
.artists::-webkit-scrollbar{
    height: 7px;
    width: 14px;
}
.artists::-webkit-scrollbar-thumb{
    background-color: transparent;
    border-radius: 20px;
    cursor: pointer;
}
.artists:hover::-webkit-scrollbar-thumb{
    background-color: rgba(75, 75, 75, 0.788);
   
}
.perv-next1{
    position: relative;
    left: 92%;
    bottom: 15px;
    cursor: pointer;
}
.perv-next1 i{
    font-size: 24px;
    color: white;
    margin-left: 15px;
}

#artists{
    scroll-behavior: smooth;
}

/* top songs */
.main-quarter1{
    display: flex;
    flex-direction: row;
}
.list-box:not(:first-child){
    margin-left: 20px;
}
.list-box{
    width: 31%;
    display: flex;
    flex-direction: column;
    
}

.list-holder{
    display: flex;
    flex-direction: column
}
.list-holder hr{
    width: 20vw;
    height: 0.1px;
    background-color: rgba(114, 114, 114, 0.671);
    border: none;
    margin: 10px 35px;

}
.list-detail{
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    height: 9vh;
    margin-top: 5px;
}
.list-detail:first-child{
    margin-top: 30px;
}
.list-detail .sno{
    font-size: 1.5rem;
    color:  rgba(255, 255, 255, 0.747);
    margin-top: 10px;
}
.songs-full-details{
    display: flex;
    flex-direction: row;
    margin-left: 15px;
    width: 100%;

}
.list-img{
    padding: 4px 2px;
    width: 17%;
}
.list-detail img{
    width: 45px;
    height: 45px;
    aspect-ratio: 3/2;
    object-fit: cover;
    border-radius: 10px;
}
.list-detail #song-play{
    position: relative;
    left: 15px;
    bottom: 37px;
    opacity: 0;
}
.list-detail #song-play i{
    font-size: 22px;
    color: rgba(12, 12, 12, 0.836);
}
.list-box .list-img:hover #song-play{
    opacity: 1;
}
#song-play i:hover{
    color: rgb(35, 133, 87);
}
.list-box .list-img:hover .top-songs-img{
    filter: brightness(0.7) grayscale(0.2);
}

.list-text{
    display: flex;
    flex-direction:column;
    font-size: 14px;
    margin-left: 10px;
    padding: 4px 2px;
    width: 200px;
    
}
.list-text h3{
    color: white;
    width: 100%;
    transition: 0.3s ease-in-out;
}
.list-text h4{
    font-weight: 500;
    color: rgba(255, 255, 255, 0.747);
    transition: 0.3s ease-in-out;
}
.time{
    margin-left: 20px;
    padding: 12px 2px 4px 2px;
    font-size: 18px;
    font-weight: 450;
    color: rgba(255, 255, 255, 0.747);
    width: 15%;
    
}
.list-text h3:hover, .list-text h4:hover{
    color: rgb(35, 133, 87) ;
    cursor: pointer;
}

/* ----------------------------- */
/* music titles */
.heading i{
    color:  rgb(35, 133, 87);
    margin-right: 15px;
    font-size: 2rem;
}


/* alert */
#success-alert{
    width: 350px;
    height: 180px;
    background-color: rgb(16, 143, 65);
    border-radius: 20px;
    margin:50px 0 10px 47%;
    font-size: 18px;
    text-align: center;
    z-index: 10001;
    
}
#success-alert h3{
    margin-top: 20px;
}
#success-alert h3 a{
    background-color: rgba(6, 170, 175, 0.774);
    color: white;
    padding: 10px 12px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    width: 30px;
    border-radius: 7px;
    text-decoration: none;
    
}