@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
     padding: 0;
     margin: 0;
}
nav{
    height: 7vh;
    display: flex;
    flex-direction: row;
    background-color: row;
    padding: 6px 4px;
    background-color: rgb(19, 19, 19);
    box-shadow: 3px 0 4px rgba(75, 75, 75, 0.527);
    position: fixed;
    z-index: 100001;
    width: 100%;
    top: 0;
    left: 0;

   
}
nav a{
    color: white;
    text-decoration: none;
}
nav .left{
    width: 20%;
}
nav .left h2{

    margin: 2px 0 0 30px;
}
nav .mid{
   position: absolute;
   width: 45%;
   left:24%;
    display: flex;
    flex-direction: row;
    padding: 4px 2px;
}
.mid ul{
    display: flex;
    flex-direction: row;
}
.mid ul li{
    list-style: none;
    margin: auto 20px;
    
}
.mid ul li a{
    font-size: 18px;
}
.mid #search-form{
    display: flex;
    flex-direction: row;
}
.mid #search-form button{
    background-color: transparent;
    border: none;
}

.mid #search-form button i{
    background-color: none;
    font-size: 20px;
    color: white;
    padding: 3px 5px;
}
.mid .search{
    margin-left: 30px;
    width: 68%;
    border-radius: 40px;
    padding: 8px 16px;
    border: none;
    background-color: rgba(255, 255, 255, 0.466);
    backdrop-filter: blur(3px);
    color: white;
    
}
input[type="text"]{
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: 600;
}
::placeholder{
    padding: 0 0 0 8px;
    color: rgb(0, 0, 0);
}

nav .right{
    width: 30%;
    position: absolute;
    left: 68%;
    display: inline-flex;
    padding: 4px;
}
nav .right .msg{
    margin-right: 30px;
    font-size: 28px;
    color: white;
}
nav .right .msg:hover{
    cursor: pointer;
}
nav .right .msg i:hover + .messages{
    opacity: 1;
    height: 320px;
}
nav .msg .messages{
    width: 300px;
    height: auto;
    background-color: rgba(255, 255, 255, 0.267);
    border-radius: 20px;
    /* z-index: 1000; */
    position: relative;
    margin-top: 5%;
    right: 45%;
    backdrop-filter: blur(3px);
    padding-bottom: 20px;
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: height 0.2s ease-in-out;
}
.inbox-heading{
    text-align: center;
    margin: 20px 0;
    color: rgb(27, 129, 87);
}
.messages h4{
    font-size: 16px;
    padding: 10px 16px;
    color: rgb(0, 0, 0);

}
.messages hr{
    border: none;
    height: 2px;
    width: 94%;
    background-color: gray;
    margin: 3px 7px;
}
nav .right .sign-in{
    margin: 2px 20px;
    font-size: 18px;
    position: absolute;
    padding-top: 4px;
    left: 50px;
}
.newMember{
    position: absolute;
    right: 0px;
}
nav .right .newMember h2{
    margin: 2px 10px 2px 40px;
    font-size: 16px;
    background-color: rgb(177, 177, 177);
    border-radius: 10px;
    padding: 6px 8px;
    

}
nav .right .newMember h2:hover{
    background-color: rgb(53, 53, 53);
    cursor: pointer;
    color: white;
}
.right .sign-in a:hover{
    color: rgb(6, 204, 95);
}
#user{
    display: flex;
    flex-direction: row;
    color: white;
}
.fa-user{
    font-size: 18px;
    color: gray;
}
.user{
    position: absolute;
    left: 15%;
    padding: 4px 6px;
    cursor: pointer;
    
}
.user #user-img{
    padding: 2px 6px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    transform: scale(1.1);
    object-fit: cover;
}
.user .fa-caret-down{
    font-size: 14px;
    padding: 8px 4px;
}
.user-login{
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.356);
    backdrop-filter: blur(3px);
    width: 150px;
    height: 0;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    right: 35px;
    overflow: hidden;
    opacity: 0;
    border: 2px solid black;
    transition: height 0.2s ease-in-out;
    z-index: 10000;
}
.user-login hr{
    width: 90%;
    background-color: black;
    margin: 5px 7px;
    height: 1px;
    border: none;
}
.user-login a{
    font-size: 18px;
    padding: 8px 6px;
    transition: 0.2s ease-in-out;
}
#user:hover + .user-login,
.user-login:hover {
    opacity: 1;
    height: 100px;
}
.user-login a:hover{
    color: rgb(27, 99, 59);
    font-weight: 700;
}
#user h2{
    color: white;
}
/* ------------------------------------------ */
/* artists form */
.artists-form{
    background-color: rgb(32, 32, 32);
    width: 600px;
    height: 360px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 55%;
    left: 60%;
    border-radius: 20px;
    z-index: 1000;
    display: none;
    transition: 0.1s ease-in-out;
    padding: 50px;

}
#create-heading{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 30px 30px;
}
#create-heading h2{
    font-size: 2rem;
    color: whitesmoke;
    
}
form{
    display: flex;
    flex-direction: column;
}
.form-group3{
    display: flex;
    flex-direction: column;
    margin: 10px 25px;

}
label{
    margin: 10px 15px;
    font-size: 20px;
    color: darkgrey;
    font-weight: 500;
}
#name,#handle{
    width: 95%;
    padding: 16px 30px;
    border-radius: 30px;
    border: none;
    font-size: 16px;
    font-weight: 700;
}
#handle{
    padding: 16px 10px 16px 50px;
}
.next-btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
   margin-top: 30px;
}
#next-btn{
    width: 25%;
    padding: 14px 20px;
    text-align: center;
    background-color: rgb(13, 112, 104);
    border-radius: 7px;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: 600;
    

}
#next-btn:hover{
    cursor: pointer;
    background-color: rgb(8, 87, 80);
}
.artists-form.open{

    display: block;
}
.fa-xmark:hover{
    cursor: pointer;
    
}
.handle-prefix {
    position: absolute;
    left: 13%;
    bottom: 27%;
    transform: translateY(-50%);
    color: rgb(70, 70, 70);
    font-size: 22px;
    
}

/* -------------------------------------------------------- */
/* uploader */
#upload-icons{
    position: absolute;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.11);
    padding: 8px 14px;
    right: 15px;
    font-size: 16px;
    backdrop-filter: blur(2px);
}
#upload-icons i{
    color: rgb(0, 128, 64);
    margin-right: 10px;
    font-size: 22px;
}
#upload-icons:hover{
    cursor: pointer;
    background-color: rgba(136, 245, 160, 0.315);
    
}

/* handle error*/
#handle-error{
    margin-left: 40px;
    margin-top: 10px;
    font-size: 16px;
}

.file-input {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
    width: 100%;
    height: 100%;
}
.file-input-container{
    width: 200px;
    height: 100%;
}
/* Style the camera icon */
#profile-img {
    width: 180px; /* Adjust the size of the icon */
    height: 100%;
    object-fit: cover;
}
.image-upload{
    display: flex;
    flex-direction: row;
}
.thumbnail-image{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.thumbnail-image h2{
    font-size: 16px;
}
.dashed-box{
    border: 2px dashed #5e5e5e;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#artist-image{
    position: absolute;
    right: 10%;
}
#avenue-form{
    display: flex;
    flex-direction: row;
}

