body{
    font-family: "Montserrat", sans-serif;
    background-color: rgba(12, 12, 12, 0.884);
    overflow-x: hidden;
}
main{
    display: flex;
    margin-top: 50px;
    background-image: url(../images/bg2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 93vh;
    width: 100%;
}
.form-container{
    width: 300px;
    height: auto;
    background-color: rgba(255, 255, 255, 0.308);
    position: absolute;
    transform: translate(-50%,-50%);
    left: 60%;
    top: 50%;
    border: 3px solid rgb(255, 255, 255);
    backdrop-filter: blur(3px);
    border-radius: 10px;
    padding: 30px;
    padding-right: 40px;
    padding-bottom: 20px;
    z-index: 10000;
}
.form-container h2{
    text-align: center;
    font-size: 2rem;
}
.form-container .new-member{
    text-align: center;
    font-size: 18px;
}
.form-container .new-member a{
    color: rgb(11, 86, 184);
    text-decoration: none;
    transition: 0.2s ease-in-out;
}
.form-container .new-member a:hover{
    text-decoration: underline;
    color: rgb(4, 51, 114);
    font-weight: 700;
}
form{
    margin-left: 10px;
}
.form-group{
    margin: 10px 0;
}
.form-group label{
    margin-left: 10px;
    color: black;
}
#password,#email{
    border-radius: 30px;
    padding: 12px 16px;
    width: 92%;
    border: none;
    margin: 10px auto;
    background-color: rgba(255, 255, 255, 0.199);
    backdrop-filter: blur(3px);
    color: rgb(0, 0, 0);
    font-size: 18px;
  
}
.sbt-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}
#login{
    border: none;
    border-radius: 10px;
    background-color: rgb(0, 128, 64);
    padding: 14px 22px;
    text-align: center;
    color: white;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
}
.sbt-btn #login:hover{
    cursor: pointer;
}


/* alert */
#success-alert{
    width: 350px;
    height: 150px;
    background-color: rgb(16, 143, 65);
    border-radius: 20px;
    margin:50px 0 10px 47%;
    font-size: 18px;
    text-align: center;
    z-index: 10001;
    
}
#success-alert h3{
    margin-top: 20px;
}
#success-alert h3 a{
    background-color: rgba(6, 170, 175, 0.774);
    color: white;
    padding: 10px 12px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    width: 30px;
    border-radius: 7px;
    text-decoration: none;
    
}
