/* --------------------------------------------- */
/* uploader */


.upload-form #upload-heading{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    margin: 10px 0;
}
.upload-form{
    background-color: rgb(32, 32, 32);
    width: 550px;
    height: 107vh;
    position: absolute;
    top: 20%;
    left: 40%;
    border-radius: 20px;
    z-index: 1000;
    transition: 0.1s ease-in-out;
    padding: 40px 50px;
    display: none;
    
}
.details-box{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 6px 0;
}
.upload-form label{
    font-size: 24px;
    padding: 3px 8px;
}

.upload-form form .details-box input,.upload-form form  .details-box textarea,#genre{
    border-radius: 10px;
    padding: 10px 18px;
    border: none;
    background-color: rgba(255, 255, 255, 0.192);
    backdrop-filter: blur(2px);
    font-size: 18px;
}
::placeholder{
    color: black;
    font-size: 16px;
}
.details-box textarea{
    max-height: 100px;
    max-width: 90%;
    min-height: 100px;
    min-width: 90%;
}
#genre option{
    background-color: rgba(128, 128, 128, 0.562);
    margin: 3px 20px;
}
.file-input-container {
    position: relative;
    width: 150px; /* Adjust width as needed */
    height: 150px; /* Adjust height as needed */
    border: 2px dashed #ccc; /* Dashed border */
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: 20px 0;
}

/* Style the file input */
.file-input {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
    width: 100%;
    height: 100%;
}

/* Style the camera icon */
.camera-icon {
    width: 50px; /* Adjust the size of the icon */
    height: auto;
}
.image-upload h2{
    text-align: start;
}
#sbt-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}
#upload-btn{
    margin: 10px;
    padding: 8px 12px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    width: 50%;
    font-size: 18px;
}
.upload-form.open{
    display: block;
}
#upload-btn:hover{
    background-color: rgb(184, 184, 184);
}